/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2015, 3:05:09 PM
    Author     : Jeanis
*/
/*HEADER*/
body{
    background-color: #0B0202;
}

.col-md-12{
    background-color: #FFF;
}
.jumbotron{
    background-image: url(../img/chineseLantern.jpg);
    background-repeat: no-repeat;
    background-size: 100% 160%;
    background-position: 60% 70%;
    margin-bottom: 0;
    font-family: 'Kaushan Script', cursive;
}

.jumbotron h1{
    color: #FFF767;
}

/*NAVIGATION*/
nav{
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: medium;
}

.navbar.navbar-inverse{
    margin-bottom: 10px;
}

.navbar.navbar-inverse, .container-fluid{
    background-color: #B72424;
    border-radius: 20px;
    color: #FFF;
}
.nav.navbar-nav li a {
    color: #FFF;
}

.nav.navbar-nav li a:hover {
    background-color: #801515;
    color: #FFF767;
}

.nav.navbar-nav li.active a, .nav.navbar-nav li.active a:hover{
    background-color: #801515;
    color: #FFF767;
}

/*CONTENT*/
.contents.col-md-12{
    font-family: 'Calibri';
    font-size: medium;
}

#siteLayoutText h4, #controlStructuresText h4{
    font-weight: bold;
}

.home_links{
    padding-top: 15px;
}

#animalCarousel{
    padding: 10px;
    margin-bottom: 10px;
}

.php_info{
   padding-top: 0;
   padding-bottom: 15px;
   padding-right: 10px;
   padding-left: 10px;
}

#siteLayoutText, #controlStructuresText, #ifElseContent, #switchContent, #whileTable{
    padding-top: 15px;
    padding-bottom: 15px;
}

#controlStructuresText h3, #ifElseContent h3, #switchContent h3{
    padding-top: 0;
    margin-top: 0;
}

#ifElseContent p, #switchContent p{
   padding-right: 10px;
   padding-left: 10px;
}

#controlStructuresText{
    padding-left: 25px;
    padding-right: 25px;
}
.code{
    text-align: center;
    display: block;
}

.formErr{
    color: #ff0000;
    font-style: italic;
}

#whileTable th, #forTable th{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

#whileTable td, #forTable td{
    text-align: center;
}

/*FOOTER:*/
footer{
    background-color: #030303;
    text-align: center;
    margin: 10px 0;
}

footer a{
    color:#FFF767;
}

footer a:hover{
    color: #AA3939;
}